<% include partials/_header %>

<form method="POST" action="/resultado" class="form-group has-danger">

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h2>Easy Mode - Palabras 10 Segundos</h2>
        </div>
        <div class="card-body">
            <div class="cotainer">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Dtoke</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp1_easymode_pat1" name="comp1_easymode_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp1_easymode_pat2" name="comp1_easymode_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp1_easymode_pat3" name="comp1_easymode_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp1_easymode_pat4" name="comp1_easymode_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 5</label>
                            <select class="form-control" id="comp1_easymode_pat5" name="comp1_easymode_pat5">
                                <option>0</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 6</label>
                            <select class="form-control" id="comp1_easymode_pat6" name="comp1_easymode_pat6">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp1_easymode_escena" name="comp1_easymode_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp1_easymode_flow" name="comp1_easymode_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp1_easymode_skill" name="comp1_easymode_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                    <div class=" col-sm-6">
                        <h3>Papo</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp2_easymode_pat1" name="comp2_easymode_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp2_easymode_pat2" name="comp2_easymode_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp2_easymode_pat3" name="comp2_easymode_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp2_easymode_pat4" name="comp2_easymode_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 5</label>
                            <select class="form-control" id="comp2_easymode_pat5" name="comp2_easymode_pat5">
                                <option>0</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 6</label>
                            <select class="form-control" id="comp2_easymode_pat6" name="comp2_easymode_pat6">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp2_easymode_escena" name="comp2_easymode_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp2_easymode_flow" name="comp2_easymode_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp2_easymode_skill" name="comp2_easymode_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>

    <br><br>

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h2>Hard Mode - Palabras 5 Segundos</h2>
        </div>
        <div class="card-body">
            <div class="cotainer">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Dtoke</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp1_hardmode_pat1" name="comp1_hardmode_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp1_hardmode_pat2" name="comp1_hardmode_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp1_hardmode_pat3" name="comp1_hardmode_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp1_hardmode_pat4" name="comp1_hardmode_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 5</label>
                            <select class="form-control" id="comp1_hardmode_pat5" name="comp1_hardmode_pat5">
                                <option>0</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 6</label>
                            <select class="form-control" id="comp1_hardmode_pat6" name="comp1_hardmode_pat6">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp1_hardmode_escena" name="comp1_hardmode_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp1_hardmode_flow" name="comp1_hardmode_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp1_hardmode_skill" name="comp1_hardmode_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                    <div class=" col-sm-6">
                        <h3>Papo</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp2_hardmode_pat1" name="comp2_hardmode_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp2_hardmode_pat2" name="comp2_hardmode_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp2_hardmode_pat3" name="comp2_hardmode_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp2_hardmode_pat4" name="comp2_hardmode_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 5</label>
                            <select class="form-control" id="comp2_hardmode_pat5" name="comp2_hardmode_pat5">
                                <option>0</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 6</label>
                            <select class="form-control" id="comp2_hardmode_pat6" name="comp2_hardmode_pat6">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp2_hardmode_escena" name="comp2_hardmode_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp2_hardmode_flow" name="comp2_hardmode_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp2_hardmode_skill" name="comp2_hardmode_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>

    <br><br>

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h2>Temáticas - Primera Vuelta</h2>
        </div>
        <div class="card-body">
            <div class="cotainer">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Dtoke</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp1_tematica1_pat1" name="comp1_tematica1_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp1_tematica1_pat2" name="comp1_tematica1_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp1_tematica1_pat3" name="comp1_tematica1_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp1_tematica1_pat4" name="comp1_tematica1_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp1_tematica1_escena" name="comp1_tematica1_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp1_tematica1_flow" name="comp1_tematica1_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp1_tematica1_skill" name="comp1_tematica1_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                    <div class=" col-sm-6">
                        <h3>Papo</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp2_tematica1_pat1" name="comp2_tematica1_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp2_tematica1_pat2" name="comp2_tematica1_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp2_tematica1_pat3" name="comp2_tematica1_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp2_tematica1_pat4" name="comp2_tematica1_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp2_tematica1_escena" name="comp2_tematica1_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp2_tematica1_flow" name="comp2_tematica1_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp2_tematica1_skill" name="comp2_tematica1_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>

    <br><br>

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h2>Temáticas - Segunda Vuelta</h2>
        </div>
        <div class="card-body">
            <div class="cotainer">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Dtoke</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp1_tematica2_pat1" name="comp1_tematica2_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp1_tematica2_pat2" name="comp1_tematica2_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp1_tematica2_pat3" name="comp1_tematica2_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp1_tematica2_pat4" name="comp1_tematica2_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp1_tematica2_escena" name="comp1_tematica2_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp1_tematica2_flow" name="comp1_tematica2_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp1_tematica2_skill" name="comp1_tematica2_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                    <div class=" col-sm-6">
                        <h3>Papo</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp2_tematica2_pat1" name="comp2_tematica2_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp2_tematica2_pat2" name="comp2_tematica2_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp2_tematica2_pat3" name="comp2_tematica2_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp2_tematica2_pat4" name="comp2_tematica2_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp2_tematica2_escena" name="comp2_tematica2_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp2_tematica2_flow" name="comp2_tematica2_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp2_tematica2_skill" name="comp2_tematica2_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>

    <br><br>

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h2>Personajes Contrapuestos</h2>
        </div>
        <div class="card-body">
            <div class="cotainer">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Dtoke</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp1_personajes_pat1" name="comp1_personajes_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp1_personajes_pat2" name="comp1_personajes_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp1_personajes_pat3" name="comp1_personajes_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp1_personajes_pat4" name="comp1_personajes_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 5</label>
                            <select class="form-control" id="comp1_personajes_pat5" name="comp1_personajes_pat5">
                                <option>0</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 6</label>
                            <select class="form-control" id="comp1_personajes_pat6" name="comp1_personajes_pat6">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp1_personajes_escena" name="comp1_personajes_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp1_personajes_flow" name="comp1_personajes_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp1_personajes_skill" name="comp1_personajes_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                    <div class=" col-sm-6">
                        <h3>Papo</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp2_personajes_pat1" name="comp2_personajes_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp2_personajes_pat2" name="comp2_personajes_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp2_personajes_pat3" name="comp2_personajes_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp2_personajes_pat4" name="comp2_personajes_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 5</label>
                            <select class="form-control" id="comp2_personajes_pat5" name="comp2_personajes_pat5">
                                <option>0</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 6</label>
                            <select class="form-control" id="comp2_personajes_pat6" name="comp2_personajes_pat6">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp2_personajes_escena" name="comp2_personajes_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp2_personajes_flow" name="comp2_personajes_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp2_personajes_skill" name="comp2_personajes_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>

    <br><br>

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h2>Minuto a Sangre - Primera Vuelta</h2>
        </div>
        <div class="card-body">
            <div class="cotainer">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Dtoke</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp1_sangre1_pat1" name="comp1_sangre1_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp1_sangre1_pat2" name="comp1_sangre1_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp1_sangre1_pat3" name="comp1_sangre1_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp1_sangre1_pat4" name="comp1_sangre1_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 5</label>
                            <select class="form-control" id="comp1_sangre1_pat5" name="comp1_sangre1_pat5">
                                <option>0</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 6</label>
                            <select class="form-control" id="comp1_sangre1_pat6" name="comp1_sangre1_pat6">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp1_sangre1_escena" name="comp1_sangre1_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp1_sangre1_flow" name="comp1_sangre1_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp1_sangre1_skill" name="comp1_sangre1_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                    <div class=" col-sm-6">
                        <h3>Papo</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 1</label>
                                        <select class="form-control" id="comp2_sangre1_pat1"
                                            name="comp2_sangre1_pat1">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp2_sangre1_resp1">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp2_sangre1_resp1" name="comp2_sangre1_resp1">
                                            <label class="custom-control-label" for="comp2_sangre1_resp1">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 2</label>
                                        <select class="form-control" id="comp2_sangre1_pat2"
                                            name="comp2_sangre1_pat2">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp2_sangre1_resp2">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp2_sangre1_resp2" name="comp2_sangre1_resp2">
                                            <label class="custom-control-label" for="comp2_sangre1_resp2">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 3</label>
                                        <select class="form-control" id="comp2_sangre1_pat3"
                                            name="comp2_sangre1_pat3">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp2_sangre1_resp3">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp2_sangre1_resp3" name="comp2_sangre1_resp3">
                                            <label class="custom-control-label" for="comp2_sangre1_resp3">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 4</label>
                                        <select class="form-control" id="comp2_sangre1_pat4"
                                            name="comp2_sangre1_pat4">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp2_sangre1_resp4">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp2_sangre1_resp4" name="comp2_sangre1_resp4">
                                            <label class="custom-control-label" for="comp2_sangre1_resp4">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 5</label>
                                        <select class="form-control" id="comp2_sangre1_pat5"
                                            name="comp2_sangre1_pat5">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp2_sangre1_resp5">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp2_sangre1_resp5" name="comp2_sangre1_resp5">
                                            <label class="custom-control-label" for="comp2_sangre1_resp5">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 6</label>
                                        <select class="form-control" id="comp2_sangre1_pat6"
                                            name="comp2_sangre1_pat6">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp2_sangre1_resp6">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp2_sangre1_resp6" name="comp2_sangre1_resp6">
                                            <label class="custom-control-label" for="comp2_sangre1_resp6">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp2_sangre1_escena" name="comp2_sangre1_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp2_sangre1_flow" name="comp2_sangre1_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp2_sangre1_skill" name="comp2_sangre1_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>

    <br><br>

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h2>Minuto a Sangre - Segunda Vuelta</h2>
        </div>
        <div class="card-body">
            <div class="cotainer">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Papo</h3>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 1</label>
                            <select class="form-control" id="comp2_sangre2_pat1" name="comp2_sangre2_pat1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 2</label>
                            <select class="form-control" id="comp2_sangre2_pat2" name="comp2_sangre2_pat2">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 3</label>
                            <select class="form-control" id="comp2_sangre2_pat3" name="comp2_sangre2_pat3">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 4</label>
                            <select class="form-control" id="comp2_sangre2_pat4" name="comp2_sangre2_pat4">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 5</label>
                            <select class="form-control" id="comp2_sangre2_pat5" name="comp2_sangre2_pat5">
                                <option>0</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Patrón 6</label>
                            <select class="form-control" id="comp2_sangre2_pat6" name="comp2_sangre2_pat6">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp2_sangre2_escena" name="comp2_sangre2_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp2_sangre2_flow" name="comp2_sangre2_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp2_sangre2_skill" name="comp2_sangre2_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                    <div class=" col-sm-6">
                        <h3>Dtoke</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 1</label>
                                        <select class="form-control" id="comp1_sangre2_pat1"
                                            name="comp1_sangre2_pat1">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp1_sangre2_resp1">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp1_sangre2_resp1" name="comp1_sangre2_resp1">
                                            <label class="custom-control-label" for="comp1_sangre2_resp1">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 2</label>
                                        <select class="form-control" id="comp1_sangre2_pat2"
                                            name="comp1_sangre2_pat2">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp1_sangre2_resp2">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp1_sangre2_resp2" name="comp1_sangre2_resp2">
                                            <label class="custom-control-label" for="comp1_sangre2_resp2">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 3</label>
                                        <select class="form-control" id="comp1_sangre2_pat3"
                                            name="comp1_sangre2_pat3">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp1_sangre2_resp3">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp1_sangre2_resp3" name="comp1_sangre2_resp3">
                                            <label class="custom-control-label" for="comp1_sangre2_resp3">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 4</label>
                                        <select class="form-control" id="comp1_sangre2_pat4"
                                            name="comp1_sangre2_pat4">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp1_sangre2_resp4">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp1_sangre2_resp4" name="comp1_sangre2_resp4">
                                            <label class="custom-control-label" for="comp1_sangre2_resp4">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 5</label>
                                        <select class="form-control" id="comp1_sangre2_pat5"
                                            name="comp1_sangre2_pat5">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp1_sangre2_resp5">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp1_sangre2_resp5" name="comp1_sangre2_resp5">
                                            <label class="custom-control-label" for="comp1_sangre2_resp5">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class=" form-group">
                                        <label for="exampleSelect1">Patrón 6</label>
                                        <select class="form-control" id="comp1_sangre2_pat6"
                                            name="comp1_sangre2_pat6">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="comp1_sangre2_resp6">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="comp1_sangre2_resp6" name="comp1_sangre2_resp6">
                                            <label class="custom-control-label" for="comp1_sangre2_resp6">Respuesta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Escena</label>
                            <select class="form-control" id="comp1_sangre2_escena" name="comp1_sangre2_escena">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Flow</label>
                            <select class="form-control" id="comp1_sangre2_flow" name="comp1_sangre2_flow">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label for="exampleSelect1">Skill</label>
                            <select class="form-control" id="comp1_sangre2_skill" name="comp1_sangre2_skill">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>









    <br>
    <center>
        <button type="submit" class="btn btn-warning btn-lg" style="vertical-align: middle">
            <i class="icon-double-angle-right"></i>
            Calcular resultados!
            <i class="icon-double-angle-left"></i>
        </button></center>
</form>

<br><br><br><br>
<div class=" footer">
    <p class="lead" style="color: white; font-size: 10px; margin-top: 15px">Created with ❤️ by <a
            href="https://github.com/helguera">@Helguera</a></p>
</div>

</body>

</html>